<div class="all">
<div *ngIf="ret=='success'">
    <div class="alert alert-danger" role="alert">保存成功</div>
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">标&nbsp;&nbsp;题</label>
    <input class="form-control form-control-lg" type="text" placeholder="请输入标题" [(ngModel)]="title">
</div>
<div class="form-group">
    <label for="exampleFormControlInput1">说出你的故事</label>
<editor [init]="{
    base_url: '/tinymce',
    plugins : 'advlist autolink link image lists preview', 
    toolbar: 'undo redo | styleselect | bold italic | link image',
    width: 'auto',
    height: 300,
    language_url : '/languages/zh_CN.js',
    language:'zh_CN'    
}">
</editor>

</div>
<button type="button" class="btn btn-primary" (click)="postContent()">提交</button>
</div>
