<!-- <header class="header">
  <a routerLink="/home" routerLinkActive="router-link-active" >首页</a>
  <a routerLink="/history" routerLinkActive="router-link-active" >爱开始的地方</a>
</header> -->
<div class="all"> 
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="router-link-active">首页</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/history']" routerLinkActive="router-link-active">开始的地方</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/say']" routerLinkActive="router-link-active">闲言碎语</a></li>
  </ol>
</nav>
</div>
<router-outlet></router-outlet>