/* You can add global styles to this file, and also import other style files */
.all {
    width: 80%;
   //text-align: center;
    margin: auto;
    /* position: absolute; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
} 
.allCss{
   background-color: #e9ecef

}